:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-logo-color: #afb1b8;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  /* display: block; */
}

a #svg {
  fill: var(--primary-text-color);
}

.contact_list a:hover #svg {
  fill: var(--accent-color);
}
.contact_list a svg {
  margin-right: 10px;
}

li {
  list-style: none;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.03em;

  /* Keep the Footer at the Bottom*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* header */
header {
  border-bottom: 1px solid #ececec;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.list .item_active {
  color: var(--accent-color);
}

/* logo */

.logo {
  display: flex;
  align-items: center;
  height: 80px;

  color: var(--title-text-color);
  font-family: raleway;
  font-size: 26px;
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.logo .accent {
  color: var(--accent-color);
}
/* navigation */
nav {
  display: flex;
  align-items: center;
}

nav .list,
section .contact_list {
  margin: 0;
  display: flex;
  align-items: center;
}
.container .list {
  padding-left: 0;
  margin-left: 80px;
}

.list a {
  display: flex;
  align-items: center;

  height: 80px;

  letter-spacing: 0.02em;

  color: var(--title-text-color);

  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.list :not(:last-child) {
  margin-right: 50px;
}

.list a:hover,
.list a:focus {
  color: var(--accent-color);
  border-bottom: 4px solid var(--accent-color);
}
.hidden {
  display: none;
}
.contact_list {
  padding: 0;
}

.contact_list img {
  margin-right: 10px;
}

.contact_list_first {
  margin-left: 30px;
}
/* mail and phone */

.contact_list a {
  display: flex;
  align-items: center;
  height: 80px;

  color: var(--title-text-color);

  letter-spacing: 0.02em;
}
.contact_list a:hover,
.contact_list a:focus {
  color: var(--accent-color);
}

/* hero */

.hero-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  padding-top: 200px;
  padding-bottom: 200px;

  background-image: url('../images/imgoverlay.png'),
    url('../images/Headerimg.jpg');
  background-color: var(--primary-text-color);
}

.hero-title {
  margin: 0;
  margin-bottom: 46px;
  max-width: 646px;

  text-align: center;
  line-height: 1.36;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
}

.hero_button {
  text-align: center;
  min-width: 200px;

  padding: 10px 32px;
  border-radius: 4px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.hero_button:hover,
.hero_button:focus {
  background-color: var(--primary-white-color);
  color: var(--accent-color);
  border-width: 0px;
  border-color: var(--accent-color);
  border-style: solid;
}
/* our advantages */
/* "hidden" from navigation */

.advantages {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0;

  border-bottom: 1px solid #ececec;
}

.advantages a {
  display: block;
}

.advantages li {
  display: block;
}

.advantages li:not(:last-child) {
  margin-right: 25px;
}
.advantages img {
  max-width: 270px;
  max-height: 120px;
  background-color: #f5f4fa;
  padding: 25px 104px;
  border-radius: 4px;
  border-color: var(--accent-color);
}
.advantages img:hover,
.advantages img:focus {
  background-color: var(--accent-color);
}
.advantages h3 {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;

  color: var(--title-text-color);
}
.advantages h3:hover,
.advantages h3:focus {
  color: var(--accent-color);
}

.advantages p {
  margin: 0;

  line-height: 1.7;
  text-align: left;

  color: var(--primary-text-color);

  width: 270px;
  height: 75px;
}
.advantages p:hover,
.advantages p:focus {
  color: var(--accent-color);
}
/* what we are doing */

.doing_section {
  padding: 94px 0;
}

.doing_title {
  margin: 0 0 50px 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;

  text-align: center;

  color: var(--title-text-color);
}

.doing_list {
  padding: 0;
}
/* .doing_list li {
  display: flex;
} */
.doing_list li:not(:last-child) {
  margin-right: 30px;
}
.doing_section h3 {
  display: block;

  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

  position: relative;
  z-index: 1;

  margin: 0;
  width: 370px;
  height: 70px;
  padding-top: 25px;

  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
}
.doing_section h3:hover,
.doing_section h3:focus {
  background-color: var(--accent-color);
}

.doing_section img {
  margin-bottom: -72px;
}

/* our team */

.team-section {
  background-color: #f5f4fa;
  padding: 94px 0;
}

.team_title {
  margin: 0 0 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;

  color: var(--title-text-color);
}
.team-section .container > li {
  display: inline-block;
  background-color: var(--primary-white-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.team-section h3 {
  padding: 30px 0 10px;
  margin: 0;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;

  color: var(--title-text-color);
}
.team-section p {
  margin: 0;
  padding: 0 0 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;

  color: var(--primary-text-color);
}

.social_list li {
  display: inline;
}

.social_list img {
  padding: 10px;
}
.social_list li:not(:last-child) {
  margin: 0 10px 0 0;
}

.social_list img:hover,
.social_list img:focus {
  border-radius: 50%;
  background-color: var(--accent-color);
}

.container .card {
  padding-bottom: 24px;
}

/* our clients */

.clients-section {
  padding: 94px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.clients_title {
  margin: 0 0 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;

  color: var(--title-text-color);
}

.clients-section .container {
  width: 1200px;
  justify-content: space-between;
}

.clients-section a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;

  border: solid 2px var(--primary-logo-color);
  border-radius: 4px;

  background-color: var(--primary-white-color);
}
.clients-section a:hover,
.clients-section a:focus {
  border: solid 2px var(--accent-color);
}

.clients-section a #svg {
  fill: var(--primary-logo-color);
}
.clients-section a:hover #svg {
  fill: var(--accent-color);
}

/* footer logo */
footer {
  background-color: #2f303a;
  padding-bottom: 20px;
  padding-top: 48px;

  /* Keep the Footer at the Bottom */
  margin-top: auto;
}
.footer .container {
  align-items: baseline;
  align-items: flex-start;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}
footer .logo {
  height: 26px;

  margin-bottom: 10px;

  font-size: 22px;
  line-height: 1.18;

  color: var(--primary-white-color);
}
.adress {
  /* margin-top: 48px; */
  margin-bottom: 21px;

  line-height: 2;
  color: var(--primary-white-color);
}
.adress a:not(:first-child) {
  color: rgba(255, 255, 255, 0.6);
}
.adress a:hover,
.adress a:focus {
  color: var(--accent-color);
}

.join-us {
  display: flex;
  flex-direction: column;
  /* margin-top: 46px; */
}
.join-us_title {
  margin: 0 0 24px;
  padding: 0px;

  text-align: center;
  text-transform: uppercase;
  font-weight: 700;

  color: var(--primary-white-color);
}

.footer .social_list {
  margin: 0;
}
.footer .social_list img {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer .social_list img:hover {
  background: var(--accent-color);
}

.subscribe {
  /* margin: 46px 0 0; */
  display: flex;
  flex-direction: column;
}

.subscribe_title {
  margin: 0 0 21px;

  text-transform: uppercase;
  line-height: 1.14;

  color: var(--primary-white-color);
}

.subscribe_buttons {
  display: flex;
  flex-direction: row;
}

.e-mail_button {
  margin-right: 21px;
  padding: 10px 10px;
  width: 270px;
  height: 50px;

  border-style: solid;
  border-color: var(--primary-white-color);
  border-width: 1px;
  border-radius: 4px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);

  font-size: 16px;
  line-height: 1.88;
  font-weight: normal;
}
.e-mail_button:hover,
.e-mail_button:focus {
  background-color: var(--primary-white-color);
  color: #2f303a;
  border-width: 1px;
  border-color: var(--primary-white-color);
  border-style: solid;
}

.send_button {
  display: flex;
  align-items: baseline;
}
.copyright {
  padding-top: 18px;
  margin: 0;

  font-weight: normal;
  text-align: center;
  line-height: 2;

  color: rgba(255, 255, 255, 0.4);
}

/* portfolio */

.filter {
  margin-top: 93px;
  margin-bottom: 50px;
  padding-left: 0;

  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
.filter li:not(:last-child) {
  margin-right: 30px;
}

.filter_button {
  padding: 6px 22px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  font-family: Roboto, sans-serif;

  background-color: #f5f4fa;
  color: var(--title-text-color);
}
.filter_button:hover,
.filter_button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.works_list h3 {
  /* width: 380px; */
  padding: 20px 0 4px 24px;
  margin: 0;

  color: var(--title-text-color);

  font-size: 18px;
  font-weight: bold;
  text-align: left;
}

.works_list p {
  padding: 0 0 20px 24px;
  margin: 0;

  /* width: 380px; */

  color: var(--primary-text-color);

  font-size: 16px;
  font-weight: normal;
  text-align: left;
}

.works_list p + p {
  display: none;
}

.works_list h3:hover,
.works_list h3:focus {
  color: var(--accent-color);
}

.works_list p:hover,
.works_list p:focus {
  color: var(--accent-color);
}

.works_list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
.works_list li {
  border: 1px solid #eeeeee;
  border-radius: 5px;
}
.works_list li:not(:nth-child(3n)) {
  margin-right: 27px;
}
.works_list li:not(:nth-child(n + 7)) {
  margin-bottom: 30px;
}
.portfolio {
  margin-bottom: 94px;
}
